.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group{"data-group_id": ""}
        グループ名
      %ul.main-header__left-box__member-list  
        Member：            
        %li.main-header__left-box__member-list__member 
        yuu
      = link_to '/groups/2394/edit'
    .main-header__edit-btn Edit
   
  .messages
    .messege
      .message__upper-info
        %p.message__upper-info__talker test_user
        %p.message__upper-info__date 2019/7/16
      %p.message__text こんにちわ
      .message__upper-info
        %p.message__upper-info__talker test_user
        %p.message__upper-info__date 2019/7/16
      %p.message__text こんばんは


  .form 
    = form_for [@group, @message] do |f|
      %form#new_message.new_message{"accept-charset": "UTF-8", action: "/groups/2394/messages", enctype: "multipart/form-data", method: "post"}
        %input{name: "utf8", type: "hidden", value: "✓"}/
        %input{name: "authenticity_token", type: "hidden", value: "HAgGbpLn7j99nAWCt0nBLw1aJvTxdYJZKuFuvdT05+2VaGCr2LE9iUGU1IfIsp52q3WvfVy3pZoU0GGPDgNGBg=="}/
        .input-box
          %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
          %label.input-box__image{for: "message_image"}
            %i.fa.fa-image
            
            %input#message_image.input-box__image__file{name: "message[image]", type: "file"}/
        %input.submit-btn{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/